
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'agenda' %}">Agenda</a></li>
            <li><a href="{% url 'predications' %}">Prédications</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
        </ul>
    </nav>
    <h1>Agenda de l'Église MCV</h1>
    <ul>
        {% for evenement in evenements %}
            <li>
                <strong>{{ evenement.titre }}</strong> - {{ evenement.date|date:"d M Y H:i" }}<br>
                <p>{{ evenement.description }}</p>
            </li>
        {% empty %}
            <p>Aucun événement prévu.</p>
        {% endfor %}
    </ul>
</body>
</html>
