<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'agenda' %}">Agenda</a></li>
            <li><a href="{% url 'predications' %}">Prédications</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
        </ul>
    </nav>
    <h1>Contactez-Nous</h1>
    <p>Vous pouvez nous contacter par e-mail à contact@mcv.com</p>
</body>
</html>
